<div class= "new_elf_container1">
  <div class="d-flex align-items-center">
    <p class= "titre_form">Ajout d'un nouvel elfe</p>
    <i class="fas fa-edit ms-3 mb-3"></i>
  </div>

      <%= simple_form_for @elf do |f| %>
        <div class= "form-group">
            <%= f.input :name, label: "Nom", :required => false, class: "form-control" %>
        </div>
        <div class= "form-group">
          <%= f.input :description, label: "Description", :required => false, class: "form-control" %>
        </div>
        <div class= "form-group">
          <%= f.input :specialty, label: "Specialités", :required => false, class: "form-control" %>
        <div class= "form-group">
          <%= f.input :powers, label: "Pouvoirs", :required => false, class: "form-control" %>
        </div>
        <div class= "form-group">
          <%= f.input :location, label: "Localisation", :required => false, class: "form-control" %>
        <div class= "form-group">
          <%= f.input :price_per_day, label: "Prix/jour €", :required => false, class: "form-control" %>
        </div>
        <div class= "form-group">
          <%= f.input :photo, as: :file, class: "form-control" %>
        </div>
        <div class= "form-group">
          <%= f.button :submit, "Soumettre", class: "btn btn-danger px-3 py-2 rounded-pill fs-10 mt-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
