<div class="main-container" data-controller="display-booking">
  <div class= "container-elf-show">
    <div class="card-elf">
      <div class="img-card-elf">
        <%= cl_image_tag @elf.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
      <div class="card-elf-infos">
        <div class="card-elves-infos-title">
          <h2><%= @elf.name %></h2>
        </div>
        <div class="card-elves-infos-content">
          <p><i class="fas fa-info-circle"></i> <%= @elf.description %></p>
          <p><i class="fas fa-medal"></i> <%= @elf.specialty %></p>
          <p><i class="fas fa-bolt"></i> <%= @elf.powers %></p>
          <p><i class="fas fa-map-marker"></i> <%= @elf.location %></p>
          <p><i class="fas fa-euro-sign"></i> <%= @elf.price_per_day %>€ / jour</p>
        </div>
        <%= link_to "Réserver", '#',class: "btn btn btn-primary text-white px-3 py-2 rounded-pill fs-10 mt-3", data: { action: "click->display-booking#display"} %>
      </div>
    </div>
  </div>

  <div class="container-form-booking <%= 'inactive' unless @booking.errors.any? %>" data-display-booking-target="form">
    <div class="form-booking">
      <%= simple_form_for [@elf, @booking] do |f| %>
        <%= f.input :checkin, html5: true %>
        <%= f.input :checkout, html5: true %>
        <%= f.button :submit, value: "Réserver", class: "btn btn-primary text-align-right"%>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "Retour à la liste", elves_path, class: "btn btn-outline-primary" %>
