<div class="navbar navbar-expand-sm navbar-dark bg-dark navbar-helpyourself">
  <div class="container-fluid">
    <%# <%= link_to "Homepage", root_path, class: "navbar-brand" do %>
      <%# <%= image_tag "logo.png", class: "logo-round" %>
    <%# <% end %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", class: "logo-round" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
              <% if user_signed_in? %>
                <%= link_to "Tableau de bord", owner_bookings_path, class: "nav-link" %>
              <% end %>

          </li>

          <%# Displays user name if user logged, else 'Log In' %>
          <li class="nav-item">
            <% if user_signed_in? %>
                <span class="navbar-user-name nav-link"><%= current_user.name %></span>
            <% else %>
                <%= link_to "Log In", new_user_session_path, class: "navbar-log-in nav-link" %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

              <%# Displays 'Log In' if no user logged, 'Log Out' else %>
              <% if user_signed_in? %>
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item fw-bold", data: {turbo_method: :delete} %>
              <% else %>
                <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
        <%# <% else %>
          <!--li class="nav-item"-->
            <%# <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# <% end %>
      </ul>
    </div>
  </div>
</div>
